[Unit]
Description=KDE Connect daemon
After=dbus.socket

[Service]
Type=dbus
BusName=org.kde.kdeconnect
ExecStart=/usr/bin/kdeconnectd
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
